
@import "../../../../assets/scss/variables";
:host {
.link{
    color:$supporting-color-blue !important;
    font-size: 1rem !important;
    font-weight: unset !important;
}
small{
    font-weight: bold
} 
}