.md-form{
    position:relative;
    margin-top:1.5rem;
    margin-bottom:1.5rem
}
.md-form input[type=date],.md-form input[type=datetime-local],.md-form input[type=email],.md-form input[type=number],.md-form input[type=password],.md-form input[type=search-md],.md-form input[type=search],.md-form input[type=tel],.md-form input[type=text],.md-form input[type=time],.md-form input[type=url],.md-form textarea.md-textarea{
    -webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:none;
    border-bottom:1px solid #ced4da;
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    background-color:transparent
}
.md-form input[type=date]:focus:not([readonly]),.md-form input[type=datetime-local]:focus:not([readonly]),.md-form input[type=email]:focus:not([readonly]),.md-form input[type=number]:focus:not([readonly]),.md-form input[type=password]:focus:not([readonly]),.md-form input[type=search-md]:focus:not([readonly]),.md-form input[type=search]:focus:not([readonly]),.md-form input[type=tel]:focus:not([readonly]),.md-form input[type=text]:focus:not([readonly]),.md-form input[type=time]:focus:not([readonly]),.md-form input[type=url]:focus:not([readonly]),.md-form textarea.md-textarea:focus:not([readonly]){
    -webkit-box-shadow:0 1px 0 0 #4285f4;
    box-shadow:0 1px 0 0 #4285f4;
    border-bottom:1px solid #4285f4
}
.md-form input[type=date]:focus:not([readonly])+label,.md-form input[type=datetime-local]:focus:not([readonly])+label,.md-form input[type=email]:focus:not([readonly])+label,.md-form input[type=number]:focus:not([readonly])+label,.md-form input[type=password]:focus:not([readonly])+label,.md-form input[type=search-md]:focus:not([readonly])+label,.md-form input[type=search]:focus:not([readonly])+label,.md-form input[type=tel]:focus:not([readonly])+label,.md-form input[type=text]:focus:not([readonly])+label,.md-form input[type=time]:focus:not([readonly])+label,.md-form input[type=url]:focus:not([readonly])+label,.md-form textarea.md-textarea:focus:not([readonly])+label{
    color:#4285f4
}
.md-form input[type=date]+label:after,.md-form input[type=datetime-local]+label:after,.md-form input[type=email]+label:after,.md-form input[type=number]+label:after,.md-form input[type=password]+label:after,.md-form input[type=search-md]+label:after,.md-form input[type=search]+label:after,.md-form input[type=tel]+label:after,.md-form input[type=text]+label:after,.md-form input[type=time]+label:after,.md-form input[type=url]+label:after,.md-form textarea.md-textarea+label:after{
    content:"";
    position:absolute;
    top:65px;
    display:block;
    opacity:0;
    -webkit-transition:.2s opacity ease-out,.2s color ease-out;
    -o-transition:.2s opacity ease-out,.2s color ease-out;
    transition:.2s opacity ease-out,.2s color ease-out
}
.md-form input[type=date].valid,.md-form input[type=date]:focus.valid,.md-form input[type=datetime-local].valid,.md-form input[type=datetime-local]:focus.valid,.md-form input[type=email].valid,.md-form input[type=email]:focus.valid,.md-form input[type=number].valid,.md-form input[type=number]:focus.valid,.md-form input[type=password].valid,.md-form input[type=password]:focus.valid,.md-form input[type=search-md].valid,.md-form input[type=search-md]:focus.valid,.md-form input[type=search].valid,.md-form input[type=search]:focus.valid,.md-form input[type=tel].valid,.md-form input[type=tel]:focus.valid,.md-form input[type=text].valid,.md-form input[type=text]:focus.valid,.md-form input[type=time].valid,.md-form input[type=time]:focus.valid,.md-form input[type=url].valid,.md-form input[type=url]:focus.valid,.md-form textarea.md-textarea.valid,.md-form textarea.md-textarea:focus.valid{
    border-bottom:1px solid #00c851;
    -webkit-box-shadow:0 1px 0 0 #00c851;
    box-shadow:0 1px 0 0 #00c851
}
.md-form input[type=date].valid+label:after,.md-form input[type=date]:focus.valid+label:after,.md-form input[type=datetime-local].valid+label:after,.md-form input[type=datetime-local]:focus.valid+label:after,.md-form input[type=email].valid+label:after,.md-form input[type=email]:focus.valid+label:after,.md-form input[type=number].valid+label:after,.md-form input[type=number]:focus.valid+label:after,.md-form input[type=password].valid+label:after,.md-form input[type=password]:focus.valid+label:after,.md-form input[type=search-md].valid+label:after,.md-form input[type=search-md]:focus.valid+label:after,.md-form input[type=search].valid+label:after,.md-form input[type=search]:focus.valid+label:after,.md-form input[type=tel].valid+label:after,.md-form input[type=tel]:focus.valid+label:after,.md-form input[type=text].valid+label:after,.md-form input[type=text]:focus.valid+label:after,.md-form input[type=time].valid+label:after,.md-form input[type=time]:focus.valid+label:after,.md-form input[type=url].valid+label:after,.md-form input[type=url]:focus.valid+label:after,.md-form textarea.md-textarea.valid+label:after,.md-form textarea.md-textarea:focus.valid+label:after{
    content:attr(data-success);
    color:#00c851;
    opacity:1
}
.md-form input[type=date].invalid,.md-form input[type=date]:focus.invalid,.md-form input[type=datetime-local].invalid,.md-form input[type=datetime-local]:focus.invalid,.md-form input[type=email].invalid,.md-form input[type=email]:focus.invalid,.md-form input[type=number].invalid,.md-form input[type=number]:focus.invalid,.md-form input[type=password].invalid,.md-form input[type=password]:focus.invalid,.md-form input[type=search-md].invalid,.md-form input[type=search-md]:focus.invalid,.md-form input[type=search].invalid,.md-form input[type=search]:focus.invalid,.md-form input[type=tel].invalid,.md-form input[type=tel]:focus.invalid,.md-form input[type=text].invalid,.md-form input[type=text]:focus.invalid,.md-form input[type=time].invalid,.md-form input[type=time]:focus.invalid,.md-form input[type=url].invalid,.md-form input[type=url]:focus.invalid,.md-form textarea.md-textarea.invalid,.md-form textarea.md-textarea:focus.invalid{
    border-bottom:1px solid #f44336;
    -webkit-box-shadow:0 1px 0 0 #f44336;
    box-shadow:0 1px 0 0 #f44336
}
.md-form input[type=date].invalid+label:after,.md-form input[type=date]:focus.invalid+label:after,.md-form input[type=datetime-local].invalid+label:after,.md-form input[type=datetime-local]:focus.invalid+label:after,.md-form input[type=email].invalid+label:after,.md-form input[type=email]:focus.invalid+label:after,.md-form input[type=number].invalid+label:after,.md-form input[type=number]:focus.invalid+label:after,.md-form input[type=password].invalid+label:after,.md-form input[type=password]:focus.invalid+label:after,.md-form input[type=search-md].invalid+label:after,.md-form input[type=search-md]:focus.invalid+label:after,.md-form input[type=search].invalid+label:after,.md-form input[type=search]:focus.invalid+label:after,.md-form input[type=tel].invalid+label:after,.md-form input[type=tel]:focus.invalid+label:after,.md-form input[type=text].invalid+label:after,.md-form input[type=text]:focus.invalid+label:after,.md-form input[type=time].invalid+label:after,.md-form input[type=time]:focus.invalid+label:after,.md-form input[type=url].invalid+label:after,.md-form input[type=url]:focus.invalid+label:after,.md-form textarea.md-textarea.invalid+label:after,.md-form textarea.md-textarea:focus.invalid+label:after{
    content:attr(data-error);
    color:#f44336;
    opacity:1
}
.md-form input[type=date].form-control.valid+label:after,.md-form input[type=date].form-control:focus.valid+label:after,.md-form input[type=datetime-local].form-control.valid+label:after,.md-form input[type=datetime-local].form-control:focus.valid+label:after,.md-form input[type=email].form-control.valid+label:after,.md-form input[type=email].form-control:focus.valid+label:after,.md-form input[type=number].form-control.valid+label:after,.md-form input[type=number].form-control:focus.valid+label:after,.md-form input[type=password].form-control.valid+label:after,.md-form input[type=password].form-control:focus.valid+label:after,.md-form input[type=search-md].form-control.valid+label:after,.md-form input[type=search-md].form-control:focus.valid+label:after,.md-form input[type=search].form-control.valid+label:after,.md-form input[type=search].form-control:focus.valid+label:after,.md-form input[type=tel].form-control.valid+label:after,.md-form input[type=tel].form-control:focus.valid+label:after,.md-form input[type=text].form-control.valid+label:after,.md-form input[type=text].form-control:focus.valid+label:after,.md-form input[type=time].form-control.valid+label:after,.md-form input[type=time].form-control:focus.valid+label:after,.md-form input[type=url].form-control.valid+label:after,.md-form input[type=url].form-control:focus.valid+label:after,.md-form textarea.md-textarea.form-control.valid+label:after,.md-form textarea.md-textarea.form-control:focus.valid+label:after{
    top:4.1rem
}
.md-form input[type=date].form-control.invalid+label:after,.md-form input[type=date].form-control:focus.invalid+label:after,.md-form input[type=datetime-local].form-control.invalid+label:after,.md-form input[type=datetime-local].form-control:focus.invalid+label:after,.md-form input[type=email].form-control.invalid+label:after,.md-form input[type=email].form-control:focus.invalid+label:after,.md-form input[type=number].form-control.invalid+label:after,.md-form input[type=number].form-control:focus.invalid+label:after,.md-form input[type=password].form-control.invalid+label:after,.md-form input[type=password].form-control:focus.invalid+label:after,.md-form input[type=search-md].form-control.invalid+label:after,.md-form input[type=search-md].form-control:focus.invalid+label:after,.md-form input[type=search].form-control.invalid+label:after,.md-form input[type=search].form-control:focus.invalid+label:after,.md-form input[type=tel].form-control.invalid+label:after,.md-form input[type=tel].form-control:focus.invalid+label:after,.md-form input[type=text].form-control.invalid+label:after,.md-form input[type=text].form-control:focus.invalid+label:after,.md-form input[type=time].form-control.invalid+label:after,.md-form input[type=time].form-control:focus.invalid+label:after,.md-form input[type=url].form-control.invalid+label:after,.md-form input[type=url].form-control:focus.invalid+label:after,.md-form textarea.md-textarea.form-control.invalid+label:after,.md-form textarea.md-textarea.form-control:focus.invalid+label:after{
    top:4rem
}
.md-form input[type=date].form-control-lg.valid+label:after,.md-form input[type=date].form-control-lg:focus.valid+label:after,.md-form input[type=datetime-local].form-control-lg.valid+label:after,.md-form input[type=datetime-local].form-control-lg:focus.valid+label:after,.md-form input[type=email].form-control-lg.valid+label:after,.md-form input[type=email].form-control-lg:focus.valid+label:after,.md-form input[type=number].form-control-lg.valid+label:after,.md-form input[type=number].form-control-lg:focus.valid+label:after,.md-form input[type=password].form-control-lg.valid+label:after,.md-form input[type=password].form-control-lg:focus.valid+label:after,.md-form input[type=search-md].form-control-lg.valid+label:after,.md-form input[type=search-md].form-control-lg:focus.valid+label:after,.md-form input[type=search].form-control-lg.valid+label:after,.md-form input[type=search].form-control-lg:focus.valid+label:after,.md-form input[type=tel].form-control-lg.valid+label:after,.md-form input[type=tel].form-control-lg:focus.valid+label:after,.md-form input[type=text].form-control-lg.valid+label:after,.md-form input[type=text].form-control-lg:focus.valid+label:after,.md-form input[type=time].form-control-lg.valid+label:after,.md-form input[type=time].form-control-lg:focus.valid+label:after,.md-form input[type=url].form-control-lg.valid+label:after,.md-form input[type=url].form-control-lg:focus.valid+label:after,.md-form textarea.md-textarea.form-control-lg.valid+label:after,.md-form textarea.md-textarea.form-control-lg:focus.valid+label:after{
    top:4.6rem
}
.md-form input[type=date].form-control-lg.invalid+label:after,.md-form input[type=date].form-control-lg:focus.invalid+label:after,.md-form input[type=datetime-local].form-control-lg.invalid+label:after,.md-form input[type=datetime-local].form-control-lg:focus.invalid+label:after,.md-form input[type=email].form-control-lg.invalid+label:after,.md-form input[type=email].form-control-lg:focus.invalid+label:after,.md-form input[type=number].form-control-lg.invalid+label:after,.md-form input[type=number].form-control-lg:focus.invalid+label:after,.md-form input[type=password].form-control-lg.invalid+label:after,.md-form input[type=password].form-control-lg:focus.invalid+label:after,.md-form input[type=search-md].form-control-lg.invalid+label:after,.md-form input[type=search-md].form-control-lg:focus.invalid+label:after,.md-form input[type=search].form-control-lg.invalid+label:after,.md-form input[type=search].form-control-lg:focus.invalid+label:after,.md-form input[type=tel].form-control-lg.invalid+label:after,.md-form input[type=tel].form-control-lg:focus.invalid+label:after,.md-form input[type=text].form-control-lg.invalid+label:after,.md-form input[type=text].form-control-lg:focus.invalid+label:after,.md-form input[type=time].form-control-lg.invalid+label:after,.md-form input[type=time].form-control-lg:focus.invalid+label:after,.md-form input[type=url].form-control-lg.invalid+label:after,.md-form input[type=url].form-control-lg:focus.invalid+label:after,.md-form textarea.md-textarea.form-control-lg.invalid+label:after,.md-form textarea.md-textarea.form-control-lg:focus.invalid+label:after{
    top:4.6rem
}
.md-form input[type=date].form-control-sm.valid+label:after,.md-form input[type=date].form-control-sm:focus.valid+label:after,.md-form input[type=datetime-local].form-control-sm.valid+label:after,.md-form input[type=datetime-local].form-control-sm:focus.valid+label:after,.md-form input[type=email].form-control-sm.valid+label:after,.md-form input[type=email].form-control-sm:focus.valid+label:after,.md-form input[type=number].form-control-sm.valid+label:after,.md-form input[type=number].form-control-sm:focus.valid+label:after,.md-form input[type=password].form-control-sm.valid+label:after,.md-form input[type=password].form-control-sm:focus.valid+label:after,.md-form input[type=search-md].form-control-sm.valid+label:after,.md-form input[type=search-md].form-control-sm:focus.valid+label:after,.md-form input[type=search].form-control-sm.valid+label:after,.md-form input[type=search].form-control-sm:focus.valid+label:after,.md-form input[type=tel].form-control-sm.valid+label:after,.md-form input[type=tel].form-control-sm:focus.valid+label:after,.md-form input[type=text].form-control-sm.valid+label:after,.md-form input[type=text].form-control-sm:focus.valid+label:after,.md-form input[type=time].form-control-sm.valid+label:after,.md-form input[type=time].form-control-sm:focus.valid+label:after,.md-form input[type=url].form-control-sm.valid+label:after,.md-form input[type=url].form-control-sm:focus.valid+label:after,.md-form textarea.md-textarea.form-control-sm.valid+label:after,.md-form textarea.md-textarea.form-control-sm:focus.valid+label:after{
    top:3.7rem
}
.md-form input[type=date].form-control-sm.invalid+label:after,.md-form input[type=date].form-control-sm:focus.invalid+label:after,.md-form input[type=datetime-local].form-control-sm.invalid+label:after,.md-form input[type=datetime-local].form-control-sm:focus.invalid+label:after,.md-form input[type=email].form-control-sm.invalid+label:after,.md-form input[type=email].form-control-sm:focus.invalid+label:after,.md-form input[type=number].form-control-sm.invalid+label:after,.md-form input[type=number].form-control-sm:focus.invalid+label:after,.md-form input[type=password].form-control-sm.invalid+label:after,.md-form input[type=password].form-control-sm:focus.invalid+label:after,.md-form input[type=search-md].form-control-sm.invalid+label:after,.md-form input[type=search-md].form-control-sm:focus.invalid+label:after,.md-form input[type=search].form-control-sm.invalid+label:after,.md-form input[type=search].form-control-sm:focus.invalid+label:after,.md-form input[type=tel].form-control-sm.invalid+label:after,.md-form input[type=tel].form-control-sm:focus.invalid+label:after,.md-form input[type=text].form-control-sm.invalid+label:after,.md-form input[type=text].form-control-sm:focus.invalid+label:after,.md-form input[type=time].form-control-sm.invalid+label:after,.md-form input[type=time].form-control-sm:focus.invalid+label:after,.md-form input[type=url].form-control-sm.invalid+label:after,.md-form input[type=url].form-control-sm:focus.invalid+label:after,.md-form textarea.md-textarea.form-control-sm.invalid+label:after,.md-form textarea.md-textarea.form-control-sm:focus.invalid+label:after{
    top:3.6rem
}
.md-form>input[type=date]:not(.browser-default)+label{
    -webkit-transform:translateY(-27px) scale(.8);
    -ms-transform:translateY(-27px) scale(.8);
    transform:translateY(-27px) scale(.8);
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0
}
.md-form>input[type=time]:not(.browser-default)+label,.md-form>input[type]:-webkit-autofill:not(.browser-default):not([type=search])+label{
    -webkit-transform:translateY(-25px);
    transform:translateY(-25px);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    font-size:.8rem
}
.md-form .was-validated input[type=text]:valid+label{
    color:#00c851!important
}
.md-form .was-validated input[type=text]:invalid+label{
    color:#f44336!important
}
.md-form .was-validated .form-control:valid:focus{
    -webkit-box-shadow:0 1px 0 0 #00c851!important;
    box-shadow:0 1px 0 0 #00c851!important
}
.md-form .was-validated .form-control:valid{
    border-color:#00c851!important
}
.md-form .was-validated .form-control:invalid:focus{
    -webkit-box-shadow:0 1px 0 0 #f44336!important;
    box-shadow:0 1px 0 0 #f44336!important
}
.md-form .was-validated .form-control:invalid{
    border-color:#f44336!important
}
.md-form .form-control{
    margin:0 0 .5rem 0;
    -webkit-border-radius:0;
    border-radius:0;
    padding:.6rem 0 .4rem 0;
    background-color:transparent;
    height:auto
}
.md-form .form-control:focus{
    -webkit-box-shadow:none;
    box-shadow:none
}
.md-form .form-control:disabled,.md-form .form-control[readonly]{
    border-bottom:1px solid #bdbdbd;
    background-color:transparent
}
.md-form .form-control.is-valid{
    border-color:#00c851
}
.md-form .form-control.is-valid:focus{
    border-color:#00c851!important;
    -webkit-box-shadow:0 1px 0 0 #00c851!important;
    box-shadow:0 1px 0 0 #00c851!important
}
.md-form .form-control.is-invalid{
    border-color:#f44336
}
.md-form .form-control.is-invalid:focus{
    -webkit-box-shadow:0 1px 0 0 #f44336!important;
    box-shadow:0 1px 0 0 #f44336!important;
    border-color:#f44336!important
}
.md-form .form-control.is-invalid,.md-form .form-control.is-valid{
    background-position:center right!important
}
.md-form .validate{
    margin-bottom:2.5rem
}
.md-form label{
    font-size:1rem
}
.md-form label.active{
    font-size:1rem
}
.md-form .prefix{
    top:.25rem;
    font-size:1.75rem
}
.md-form .prefix~input,.md-form .prefix~textarea{
    margin-left:2.5rem;
    width:calc(100% - 2.5rem)
}
.md-form .prefix~label{
    margin-left:2.5rem
}
.md-form .prefix~.form-text{
    margin-left:2.6rem
}
.md-form label{
    position:absolute;
    top:0;
    font-size:1rem;
    -webkit-transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:color .2s ease-out,-webkit-transform .2s ease-out;
    -o-transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transform:translateY(12px);
    -ms-transform:translateY(12px);
    transform:translateY(12px);
    cursor:text;
    color:#757575
}
.md-form label.active{
    -webkit-transform:translateY(-14px) scale(.8);
    -ms-transform:translateY(-14px) scale(.8);
    transform:translateY(-14px) scale(.8)
}
.md-form .prefix{
    position:absolute;
    -webkit-transition:color .2s;
    -o-transition:color .2s;
    transition:color .2s
}
.md-form .prefix.active{
    color:#4285f4
}
.md-form.form-lg .validate{
    margin-bottom:2.8rem
}
.md-form.form-lg label{
    font-size:1.25rem
}
.md-form.form-lg label.active{
    font-size:1.15rem
}
.md-form.form-lg .prefix{
    top:.4rem;
    font-size:2rem
}
.md-form.form-lg .prefix~input,.md-form.form-lg .prefix~textarea{
    margin-left:3rem;
    width:calc(100% - 3rem)
}
.md-form.form-lg .prefix~label{
    margin-left:3rem
}
.md-form.form-lg .prefix~.form-text{
    margin-left:3.1rem
}
.md-form.form-sm .validate{
    margin-bottom:2.3rem
}
.md-form.form-sm label{
    font-size:.875rem
}
.md-form.form-sm label.active{
    font-size:.95rem
}
.md-form.form-sm .prefix{
    top:.35rem;
    font-size:1.5rem
}
.md-form.form-sm .prefix~input,.md-form.form-sm .prefix~textarea{
    margin-left:2rem;
    width:calc(100% - 2rem)
}
.md-form.form-sm .prefix~label{
    margin-left:2rem
}
.md-form.form-sm .prefix~.form-text{
    margin-left:2rem
}
.md-form textarea.md-textarea{
    overflow-y:hidden;
    padding:1.5rem 0;
    resize:none
}
.md-form textarea.md-textarea-auto{
    padding:0;
    padding-top:1.5rem
}
.md-form textarea~label.active{
    color:#4285f4
}
.md-form.md-outline{
    position:relative;
    margin-top:1.5rem;
    margin-bottom:1.5rem
}
.md-form.md-outline input[type=date],.md-form.md-outline input[type=datetime-local],.md-form.md-outline input[type=email],.md-form.md-outline input[type=number],.md-form.md-outline input[type=password],.md-form.md-outline input[type=search-md],.md-form.md-outline input[type=search],.md-form.md-outline input[type=tel],.md-form.md-outline input[type=text],.md-form.md-outline input[type=time],.md-form.md-outline input[type=url],.md-form.md-outline textarea.md-textarea{
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:1px solid #dadce0;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.md-form.md-outline input[type=date]:focus:not([readonly]),.md-form.md-outline input[type=datetime-local]:focus:not([readonly]),.md-form.md-outline input[type=email]:focus:not([readonly]),.md-form.md-outline input[type=number]:focus:not([readonly]),.md-form.md-outline input[type=password]:focus:not([readonly]),.md-form.md-outline input[type=search-md]:focus:not([readonly]),.md-form.md-outline input[type=search]:focus:not([readonly]),.md-form.md-outline input[type=tel]:focus:not([readonly]),.md-form.md-outline input[type=text]:focus:not([readonly]),.md-form.md-outline input[type=time]:focus:not([readonly]),.md-form.md-outline input[type=url]:focus:not([readonly]),.md-form.md-outline textarea.md-textarea:focus:not([readonly]){
    border-color:#4285f4;
    -webkit-box-shadow:inset 0 0 0 1px #4285f4;
    box-shadow:inset 0 0 0 1px #4285f4
}
.md-form.md-outline input[type=date]:focus:not([readonly])+label,.md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label,.md-form.md-outline input[type=email]:focus:not([readonly])+label,.md-form.md-outline input[type=number]:focus:not([readonly])+label,.md-form.md-outline input[type=password]:focus:not([readonly])+label,.md-form.md-outline input[type=search-md]:focus:not([readonly])+label,.md-form.md-outline input[type=search]:focus:not([readonly])+label,.md-form.md-outline input[type=tel]:focus:not([readonly])+label,.md-form.md-outline input[type=text]:focus:not([readonly])+label,.md-form.md-outline input[type=time]:focus:not([readonly])+label,.md-form.md-outline input[type=url]:focus:not([readonly])+label,.md-form.md-outline textarea.md-textarea:focus:not([readonly])+label{
    color:#4285f4
}
.md-form.md-outline input[type=date].valid,.md-form.md-outline input[type=date]:focus.valid,.md-form.md-outline input[type=datetime-local].valid,.md-form.md-outline input[type=datetime-local]:focus.valid,.md-form.md-outline input[type=email].valid,.md-form.md-outline input[type=email]:focus.valid,.md-form.md-outline input[type=number].valid,.md-form.md-outline input[type=number]:focus.valid,.md-form.md-outline input[type=password].valid,.md-form.md-outline input[type=password]:focus.valid,.md-form.md-outline input[type=search-md].valid,.md-form.md-outline input[type=search-md]:focus.valid,.md-form.md-outline input[type=search].valid,.md-form.md-outline input[type=search]:focus.valid,.md-form.md-outline input[type=tel].valid,.md-form.md-outline input[type=tel]:focus.valid,.md-form.md-outline input[type=text].valid,.md-form.md-outline input[type=text]:focus.valid,.md-form.md-outline input[type=time].valid,.md-form.md-outline input[type=time]:focus.valid,.md-form.md-outline input[type=url].valid,.md-form.md-outline input[type=url]:focus.valid,.md-form.md-outline textarea.md-textarea.valid,.md-form.md-outline textarea.md-textarea:focus.valid{
    border-color:#00c851;
    -webkit-box-shadow:inset 0 0 0 1px #00c851;
    box-shadow:inset 0 0 0 1px #00c851
}
.md-form.md-outline input[type=date].valid+label:after,.md-form.md-outline input[type=date]:focus.valid+label:after,.md-form.md-outline input[type=date]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=datetime-local].valid+label:after,.md-form.md-outline input[type=datetime-local]:focus.valid+label:after,.md-form.md-outline input[type=datetime-local]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=email].valid+label:after,.md-form.md-outline input[type=email]:focus.valid+label:after,.md-form.md-outline input[type=email]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=number].valid+label:after,.md-form.md-outline input[type=number]:focus.valid+label:after,.md-form.md-outline input[type=number]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=password].valid+label:after,.md-form.md-outline input[type=password]:focus.valid+label:after,.md-form.md-outline input[type=password]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=search-md].valid+label:after,.md-form.md-outline input[type=search-md]:focus.valid+label:after,.md-form.md-outline input[type=search-md]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=search].valid+label:after,.md-form.md-outline input[type=search]:focus.valid+label:after,.md-form.md-outline input[type=search]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=tel].valid+label:after,.md-form.md-outline input[type=tel]:focus.valid+label:after,.md-form.md-outline input[type=tel]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=text].valid+label:after,.md-form.md-outline input[type=text]:focus.valid+label:after,.md-form.md-outline input[type=text]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=time].valid+label:after,.md-form.md-outline input[type=time]:focus.valid+label:after,.md-form.md-outline input[type=time]:focus:not([readonly]).valid+label,.md-form.md-outline input[type=url].valid+label:after,.md-form.md-outline input[type=url]:focus.valid+label:after,.md-form.md-outline input[type=url]:focus:not([readonly]).valid+label,.md-form.md-outline textarea.md-textarea.valid+label:after,.md-form.md-outline textarea.md-textarea:focus.valid+label:after,.md-form.md-outline textarea.md-textarea:focus:not([readonly]).valid+label{
    content:attr(data-success);
    color:#00c851;
    opacity:1
}
.md-form.md-outline input[type=date].invalid,.md-form.md-outline input[type=date]:focus.invalid,.md-form.md-outline input[type=datetime-local].invalid,.md-form.md-outline input[type=datetime-local]:focus.invalid,.md-form.md-outline input[type=email].invalid,.md-form.md-outline input[type=email]:focus.invalid,.md-form.md-outline input[type=number].invalid,.md-form.md-outline input[type=number]:focus.invalid,.md-form.md-outline input[type=password].invalid,.md-form.md-outline input[type=password]:focus.invalid,.md-form.md-outline input[type=search-md].invalid,.md-form.md-outline input[type=search-md]:focus.invalid,.md-form.md-outline input[type=search].invalid,.md-form.md-outline input[type=search]:focus.invalid,.md-form.md-outline input[type=tel].invalid,.md-form.md-outline input[type=tel]:focus.invalid,.md-form.md-outline input[type=text].invalid,.md-form.md-outline input[type=text]:focus.invalid,.md-form.md-outline input[type=time].invalid,.md-form.md-outline input[type=time]:focus.invalid,.md-form.md-outline input[type=url].invalid,.md-form.md-outline input[type=url]:focus.invalid,.md-form.md-outline textarea.md-textarea.invalid,.md-form.md-outline textarea.md-textarea:focus.invalid{
    border-color:#f44336;
    -webkit-box-shadow:inset 0 0 0 1px #f44336;
    box-shadow:inset 0 0 0 1px #f44336
}
.md-form.md-outline input[type=date].invalid+label:after,.md-form.md-outline input[type=date]:focus.invalid+label:after,.md-form.md-outline input[type=date]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=datetime-local].invalid+label:after,.md-form.md-outline input[type=datetime-local]:focus.invalid+label:after,.md-form.md-outline input[type=datetime-local]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=email].invalid+label:after,.md-form.md-outline input[type=email]:focus.invalid+label:after,.md-form.md-outline input[type=email]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=number].invalid+label:after,.md-form.md-outline input[type=number]:focus.invalid+label:after,.md-form.md-outline input[type=number]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=password].invalid+label:after,.md-form.md-outline input[type=password]:focus.invalid+label:after,.md-form.md-outline input[type=password]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=search-md].invalid+label:after,.md-form.md-outline input[type=search-md]:focus.invalid+label:after,.md-form.md-outline input[type=search-md]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=search].invalid+label:after,.md-form.md-outline input[type=search]:focus.invalid+label:after,.md-form.md-outline input[type=search]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=tel].invalid+label:after,.md-form.md-outline input[type=tel]:focus.invalid+label:after,.md-form.md-outline input[type=tel]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=text].invalid+label:after,.md-form.md-outline input[type=text]:focus.invalid+label:after,.md-form.md-outline input[type=text]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=time].invalid+label:after,.md-form.md-outline input[type=time]:focus.invalid+label:after,.md-form.md-outline input[type=time]:focus:not([readonly]).invalid+label,.md-form.md-outline input[type=url].invalid+label:after,.md-form.md-outline input[type=url]:focus.invalid+label:after,.md-form.md-outline input[type=url]:focus:not([readonly]).invalid+label,.md-form.md-outline textarea.md-textarea.invalid+label:after,.md-form.md-outline textarea.md-textarea:focus.invalid+label:after,.md-form.md-outline textarea.md-textarea:focus:not([readonly]).invalid+label{
    content:attr(data-error);
    color:#f44336;
    opacity:1
}
.md-form.md-outline input[type=date].form-control.valid+label:after,.md-form.md-outline input[type=date].form-control:focus.valid+label:after,.md-form.md-outline input[type=datetime-local].form-control.valid+label:after,.md-form.md-outline input[type=datetime-local].form-control:focus.valid+label:after,.md-form.md-outline input[type=email].form-control.valid+label:after,.md-form.md-outline input[type=email].form-control:focus.valid+label:after,.md-form.md-outline input[type=number].form-control.valid+label:after,.md-form.md-outline input[type=number].form-control:focus.valid+label:after,.md-form.md-outline input[type=password].form-control.valid+label:after,.md-form.md-outline input[type=password].form-control:focus.valid+label:after,.md-form.md-outline input[type=search-md].form-control.valid+label:after,.md-form.md-outline input[type=search-md].form-control:focus.valid+label:after,.md-form.md-outline input[type=search].form-control.valid+label:after,.md-form.md-outline input[type=search].form-control:focus.valid+label:after,.md-form.md-outline input[type=tel].form-control.valid+label:after,.md-form.md-outline input[type=tel].form-control:focus.valid+label:after,.md-form.md-outline input[type=text].form-control.valid+label:after,.md-form.md-outline input[type=text].form-control:focus.valid+label:after,.md-form.md-outline input[type=time].form-control.valid+label:after,.md-form.md-outline input[type=time].form-control:focus.valid+label:after,.md-form.md-outline input[type=url].form-control.valid+label:after,.md-form.md-outline input[type=url].form-control:focus.valid+label:after,.md-form.md-outline textarea.md-textarea.form-control.valid+label:after,.md-form.md-outline textarea.md-textarea.form-control:focus.valid+label:after{
    top:2.75rem;
    left:0;
    position:absolute
}
.md-form.md-outline input[type=date].form-control.invalid+label:after,.md-form.md-outline input[type=date].form-control:focus.invalid+label:after,.md-form.md-outline input[type=datetime-local].form-control.invalid+label:after,.md-form.md-outline input[type=datetime-local].form-control:focus.invalid+label:after,.md-form.md-outline input[type=email].form-control.invalid+label:after,.md-form.md-outline input[type=email].form-control:focus.invalid+label:after,.md-form.md-outline input[type=number].form-control.invalid+label:after,.md-form.md-outline input[type=number].form-control:focus.invalid+label:after,.md-form.md-outline input[type=password].form-control.invalid+label:after,.md-form.md-outline input[type=password].form-control:focus.invalid+label:after,.md-form.md-outline input[type=search-md].form-control.invalid+label:after,.md-form.md-outline input[type=search-md].form-control:focus.invalid+label:after,.md-form.md-outline input[type=search].form-control.invalid+label:after,.md-form.md-outline input[type=search].form-control:focus.invalid+label:after,.md-form.md-outline input[type=tel].form-control.invalid+label:after,.md-form.md-outline input[type=tel].form-control:focus.invalid+label:after,.md-form.md-outline input[type=text].form-control.invalid+label:after,.md-form.md-outline input[type=text].form-control:focus.invalid+label:after,.md-form.md-outline input[type=time].form-control.invalid+label:after,.md-form.md-outline input[type=time].form-control:focus.invalid+label:after,.md-form.md-outline input[type=url].form-control.invalid+label:after,.md-form.md-outline input[type=url].form-control:focus.invalid+label:after,.md-form.md-outline textarea.md-textarea.form-control.invalid+label:after,.md-form.md-outline textarea.md-textarea.form-control:focus.invalid+label:after{
    top:2.75rem;
    left:0;
    position:absolute
}
.md-form.md-outline>input[type=time]:not(.browser-default)+label,.md-form.md-outline>input[type]:-webkit-autofill:not(.browser-default):not([type=search])+label{
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    background:#fff;
    font-weight:500;
    padding-right:5px;
    padding-left:5px;
    font-size:11px;
    left:8px
}
.md-form.md-outline>input[type=time]:not(.browser-default)+label.active,.md-form.md-outline>input[type]:-webkit-autofill:not(.browser-default):not([type=search])+label.active{
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
    -webkit-transform-origin:0 0;
    transform-origin:0 0
}
.md-form.md-outline .form-control{
    padding:.375rem .75rem
}
.md-form.md-outline label{
    font-size:1rem;
    position:absolute;
    top:0;
    left:0;
    padding-left:10px;
    -webkit-transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:color .2s ease-out,-webkit-transform .2s ease-out;
    -o-transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transform:translateY(9px);
    -ms-transform:translateY(9px);
    transform:translateY(9px);
    cursor:text;
    color:#757575
}
.md-form.md-outline label.active{
    -webkit-transform:translateY(-13px) scale(.8);
    -ms-transform:translateY(-13px) scale(.8);
    transform:translateY(-13px) scale(.8);
    background:#fff;
    font-weight:500;
    padding-right:5px;
    padding-left:5px;
    left:8px
}
.md-form.md-outline.form-lg .form-control.form-control-lg{
    padding:.5rem .725rem
}
.md-form.md-outline.form-lg label{
    font-size:1.25rem;
    -webkit-transform:translateY(10px);
    -ms-transform:translateY(10px);
    transform:translateY(10px)
}
.md-form.md-outline.form-lg label.active{
    font-size:1.1rem;
    -webkit-transform:translateY(-14px) scale(.8);
    -ms-transform:translateY(-14px) scale(.8);
    transform:translateY(-14px) scale(.8)
}
.md-form.md-outline.form-lg .prefix{
    top:.65rem;
    font-size:25px
}
.md-form.md-outline.form-lg .prefix~input,.md-form.md-outline.form-lg .prefix~textarea{
    margin-left:2.2rem;
    width:calc(100% - 2.2rem)
}
.md-form.md-outline.form-lg .prefix~label{
    margin-left:2.2rem
}
.md-form.md-outline.form-lg .prefix~.form-text{
    margin-left:2.3rem
}
.md-form.md-outline.form-sm .form-control.form-control-sm{
    padding:.25rem .625rem
}
.md-form.md-outline.form-sm label{
    font-size:.8rem;
    -webkit-transform:translateY(8px);
    -ms-transform:translateY(8px);
    transform:translateY(8px)
}
.md-form.md-outline.form-sm label.active{
    font-size:.85rem;
    -webkit-transform:translateY(-12px) scale(.8);
    -ms-transform:translateY(-12px) scale(.8);
    transform:translateY(-12px) scale(.8)
}
.md-form.md-outline.form-sm .prefix{
    top:.5rem;
    font-size:15px
}
.md-form.md-outline.form-sm .prefix~input,.md-form.md-outline.form-sm .prefix~textarea{
    margin-left:1.6rem;
    width:calc(100% - 1.6rem)
}
.md-form.md-outline.form-sm .prefix~label{
    margin-left:1.6rem
}
.md-form.md-outline.form-sm .prefix~.form-text{
    margin-left:1.7rem
}
.md-form.md-outline .prefix{
    position:absolute;
    -webkit-transition:color .2s;
    -o-transition:color .2s;
    transition:color .2s
}
.md-form.md-outline .prefix:focus{
    color:#4285f4
}
.md-form.md-outline .prefix{
    top:.6rem;
    font-size:20px
}
.md-form.md-outline .prefix~input,.md-form.md-outline .prefix~textarea{
    margin-left:2rem;
    width:calc(100% - 2rem)
}
.md-form.md-outline .prefix~label{
    margin-left:2rem
}
.md-form.md-outline .prefix~.form-text{
    margin-left:2.1rem
}
.md-form.md-outline .character-counter{
    margin-top:-.5rem
}
.md-form.md-bg input[type=date],.md-form.md-bg input[type=datetime-local],.md-form.md-bg input[type=email],.md-form.md-bg input[type=number],.md-form.md-bg input[type=password],.md-form.md-bg input[type=search-md],.md-form.md-bg input[type=search],.md-form.md-bg input[type=tel],.md-form.md-bg input[type=text],.md-form.md-bg input[type=time],.md-form.md-bg input[type=url],.md-form.md-bg textarea.md-textarea{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:10px 5px;
    border:0;
    -webkit-border-top-left-radius:.3rem;
    border-top-left-radius:.3rem;
    -webkit-border-top-right-radius:.3rem;
    border-top-right-radius:.3rem;
    background:#f5f5f5 no-repeat;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4285f4),to(#4285f4)),-webkit-gradient(linear,left top,left bottom,from(#ced4da),to(#ced4da));
    background-image:-webkit-linear-gradient(top,#4285f4,#4285f4),-webkit-linear-gradient(top,#ced4da,#ced4da);
    background-image:-o-linear-gradient(top,#4285f4,#4285f4),-o-linear-gradient(top,#ced4da,#ced4da);
    background-image:linear-gradient(to bottom,#4285f4,#4285f4),linear-gradient(to bottom,#ced4da,#ced4da);
    -webkit-background-size:0 2px,100% 1px;
    background-size:0 2px,100% 1px;
    background-position:50% 100%,50% 100%;
    -webkit-transition:-webkit-background-size .3s cubic-bezier(.64,.09,.08,1);
    transition:-webkit-background-size .3s cubic-bezier(.64,.09,.08,1);
    -o-transition:background-size .3s cubic-bezier(.64,.09,.08,1);
    transition:background-size .3s cubic-bezier(.64,.09,.08,1);
    transition:background-size .3s cubic-bezier(.64,.09,.08,1),-webkit-background-size .3s cubic-bezier(.64,.09,.08,1)
}
.md-form.md-bg input[type=date]:focus:not([readonly]),.md-form.md-bg input[type=datetime-local]:focus:not([readonly]),.md-form.md-bg input[type=email]:focus:not([readonly]),.md-form.md-bg input[type=number]:focus:not([readonly]),.md-form.md-bg input[type=password]:focus:not([readonly]),.md-form.md-bg input[type=search-md]:focus:not([readonly]),.md-form.md-bg input[type=search]:focus:not([readonly]),.md-form.md-bg input[type=tel]:focus:not([readonly]),.md-form.md-bg input[type=text]:focus:not([readonly]),.md-form.md-bg input[type=time]:focus:not([readonly]),.md-form.md-bg input[type=url]:focus:not([readonly]),.md-form.md-bg textarea.md-textarea:focus:not([readonly]){
    -webkit-box-shadow:none;
    box-shadow:none;
    border-bottom:none
}
.md-form.md-bg input[type=date]:focus,.md-form.md-bg input[type=datetime-local]:focus,.md-form.md-bg input[type=email]:focus,.md-form.md-bg input[type=number]:focus,.md-form.md-bg input[type=password]:focus,.md-form.md-bg input[type=search-md]:focus,.md-form.md-bg input[type=search]:focus,.md-form.md-bg input[type=tel]:focus,.md-form.md-bg input[type=text]:focus,.md-form.md-bg input[type=time]:focus,.md-form.md-bg input[type=url]:focus,.md-form.md-bg textarea.md-textarea:focus{
    background-color:#dcdcdc;
    -webkit-background-size:100% 2px,100% 1px;
    background-size:100% 2px,100% 1px;
    outline:0
}
.md-form.md-bg>input[type=date]:not(.browser-default)+label{
    -webkit-transform:translateY(-12px) scale(.8);
    -ms-transform:translateY(-12px) scale(.8);
    transform:translateY(-12px) scale(.8);
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0
}
.md-form.md-bg>input[type=time]:not(.browser-default)+label,.md-form.md-bg>input[type]:-webkit-autofill:not(.browser-default):not([type=search])+label{
    -webkit-transform:translateY(-12px);
    transform:translateY(-12px);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    font-size:.8rem
}
.md-form.md-bg .form-control{
    padding:1.1rem .7rem .4rem!important
}
.md-form.md-bg label{
    top:0;
    padding-left:.7rem;
    font-size:1rem;
    -webkit-transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:color .2s ease-out,-webkit-transform .2s ease-out;
    -o-transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
    -webkit-transform:translateY(13px);
    -ms-transform:translateY(13px);
    transform:translateY(13px)
}
.md-form.md-bg label.active{
    -webkit-transform:translateY(-3px) scale(.8);
    -ms-transform:translateY(-3px) scale(.8);
    transform:translateY(-3px) scale(.8);
    font-weight:500;
    padding-left:.75rem
}
.md-form.md-bg.form-lg label{
    -webkit-transform:translateY(16px);
    -ms-transform:translateY(16px);
    transform:translateY(16px)
}
.md-form.md-bg.form-lg label.active{
    -webkit-transform:translateY(-4px) scale(.8);
    -ms-transform:translateY(-4px) scale(.8);
    transform:translateY(-4px) scale(.8)
}
.md-form.md-bg.form-sm label{
    -webkit-transform:translateY(11px);
    -ms-transform:translateY(11px);
    transform:translateY(11px)
}
.md-form.md-bg.form-sm label.active{
    -webkit-transform:translateY(-2px) scale(.8);
    -ms-transform:translateY(-2px) scale(.8);
    transform:translateY(-2px) scale(.8)
}
.md-form .form-control.is-invalid,.was-validated .md-form .form-control:invalid{
    padding-right:0
}
.md-form .form-control.is-valid,.was-validated .md-form .form-control:valid{
    padding-right:0
}
.needs-validation .md-form label{
    left:.3rem
}
.custom-file-input:lang(es)~.custom-file-label::after{
    content:"Elegir"
}
.custom-file-input:lang(pl-PL)~.custom-file-label::after{
    content:"Wybierz"
}
.custom-file-input:lang(fr)~.custom-file-label::after{
    content:"Choisir"
}
.custom-file-input:lang(in)~.custom-file-label::after{
    content:"Pilih"
}
.custom-file-input:lang(zh)~.custom-file-label::after{
    content:"é¸æ“‡"
}
.custom-file-input:lang(de)~.custom-file-label::after{
    content:"WÃ¤hlen"
}
.custom-file-input:lang(ru)~.custom-file-label::after{
    content:"Ð²Ñ‹Ð±Ð¸Ñ€Ð°Ñ‚ÑŒ"
}
.edge-header{
    display:block;
    height:278px;
    background-color:#ccc
}