<div class="d-flex">
  <button type="button" class="btn btn-link link p-0" (click)="openModal(template)">
    {{'PROFIL.SECURITY.SECRET_QUESTION_LINK'| translate}}
  </button>

  <ng-template #template let-c="close" let-d="dismiss">
    <div dir="{{defaultLanguage.rtl ? 'rtl' : '' }}" [class.text-right]="defaultLanguage.rtl">
      <div class="modal-header">
        <h4 class="modal-title w-100">
          {{'PROFIL.SECURITY.MODAL_QUESTION_TITLE'| translate}}

        </h4>
      </div>
      <div *ngIf="!passwordValid">
        <div class="modal-body">
          <form [formGroup]="verificationForm" (ngSubmit)="verifyPAssword()">
            <h4 class="body-title d-flex justify-content-center">
              {{'PROFIL.SECURITY.VERIFICATION_TITLE'| translate}}
            </h4>
            <div class="form-group">
              <label for="password">{{"PROFIL.SECURITY.PASSWORD" | translate}}</label>
              <div class="d-flex">
                <input type={{typePassword}} class="form-control input-modal" id="password" formControlName="password"
                  [ngClass]="{'is-invalid':submitted && !passwordValid}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <a (click)="changepasswordStat()">
                      <span *ngIf="showPassword">
                        <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="obs-grey-icon"
                          [svgStyle]="{ 'width.px':16,'height.px':16 }">
                        </svg-icon>
                      </span>
                      <span *ngIf="!showPassword">
                        <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="obs-grey-icon"
                          [svgStyle]="{ 'width.px':16,'height.px':16 }">
                        </svg-icon>
                      </span>
                    </a>
                  </span>
                </div>
              </div>
              <div *ngIf="submitted" class="text-danger">
                {{passwordValidationKey | translate}}
              </div>

            </div>
            <div class='form-row '>
              <div class=" col-6  d-flex justify-content-start">
                <button class="btn btn-secondary w-75" type="button" id="annulation-btn"
                  (click)="annulate()">{{'PROFIL.SECURITY.CANCEL'| translate}}</button>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                <button class="btn btn-primary w-75 " type="submit"
                  id="verification-btn">{{'PROFIL.SECURITY.NEXT'| translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="submitted && passwordValid">
        <div class="modal-body" *ngIf="!edit">
          <form [formGroup]="showQuestionForm" (ngSubmit)="editer()">
            <div class="form-group">
              <label for="showquestion">{{"PROFIL.SECURITY.QUESTION" | translate}}</label>
              <input type="text" class="form-control" id="showquestion" formControlName="showquestion"
                [readonly]="readOnly" #question>
            </div>
            <div class="form-group">
              <label for="showresponse">{{"PROFIL.SECURITY.RESPONSE" | translate}}</label>
              <input type="text" class="form-control" id="showresponse" formControlName="showresponse"
                [readonly]="readOnly" #response>
            </div>
            <div class='form-row '>
              <div class=" col-6  d-flex justify-content-start">
                <button class="btn btn-secondary w-75" type="button" id="annulation-btn"
                  (click)="annulate()">{{'PROFIL.SECURITY.CANCEL'| translate}}</button>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                <button class="btn btn-primary w-75 " type="submit" id="edit-btn">{{validation| translate}}</button>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-body" *ngIf="edit">
          <form [formGroup]="questionForm" (ngSubmit)="save()">
            <div class="form-group">
              <label for="question">{{"PROFIL.SECURITY.QUESTION" | translate}}</label>
              <input type="text" class="form-control input-modal" id="question" formControlName="question"
                [readonly]="readOnly">
            </div>
            <div class="form-group">
              <label for="response">{{"PROFIL.SECURITY.RESPONSE" | translate}}</label>
              <input type="text" class="form-control input-modal" id="response" formControlName="response"
                [readonly]="readOnly">
            </div>
            <div class='form-row '>
              <div class=" col-6  d-flex justify-content-start">
                <button class="btn btn-secondary w-75" type="button" id="annulation-btn"
                  (click)="annulate()">{{'PROFIL.SECURITY.CANCEL'| translate}}</button>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                <button class="btn btn-primary w-75 " type="submit"
                  id="validation-btn" [disabled]="!questionForm.valid">{{validation| translate}}</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </ng-template>
</div>