
@import "../../../../assets/scss/variables";
:host {
  .link{
      color:$supporting-color-blue !important;
      font-size: 1rem !important;
      font-weight: unset !important;
  }
  small{
    font-weight: bold
  } 
  .modal-dialog {
             
       .modal-body{
        height: 380px;
        width:570px !important;
              .input-group-text,
              .form-control {
                border-top: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
                background-color: $white !important;
                border-bottom-width: 1px !important;
               }
        }
  }

 }