<app-authentication-shell title="{{'AUTHENTICATION.PASSWORD_PAGE.TITLE'| translate}}">
  <div class="container" dir="{{defaultLanguage.rtl ? 'rtl' : '' }}" [class.text-right]="defaultLanguage.rtl">
    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
          <div class="form-group ">
            <div class="d-flex">
              <input [type]="typecurrentPassword" class="form-control" id="currentPassword" formControlName="currentPassword" placeholder="{{'AUTHENTICATION.PASSWORD_PAGE.CURRENT_PASSWORD'| translate}}">
              <div class="input-group-append">
                <span class="input-group-text">
                  <a (click)="changepasswordStat('currentPassword')">
                    <span *ngIf="showcurrentPasswordPassword">
                      <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="icon-black"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                    <span *ngIf="!showcurrentPasswordPassword">
                      <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="icon-black"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                  </a>
                </span>
              </div>
            </div>
            <div *ngIf="passwordForm.get(['currentPassword']).invalid && (passwordForm.get(['currentPassword']).dirty || passwordForm.get(['currentPassword']).touched)"
              class="d-flex">
              <small *ngIf="passwordForm.get(['currentPassword']).errors.required" class="text-danger">
                {{'AUTHENTICATION.PASSWORD_PAGE.MSG_REQUIRE'| translate}}
              </small>
            </div>
          </div>
            <div class="form-group ">
              <div class="d-flex">
                <input [type]="typenewPassword" class="form-control" formControlName="newPassword" id="newPassword" placeholder="{{'AUTHENTICATION.PASSWORD_PAGE.NEW_PASSWORD'| translate}}">
                <div class="input-group-append">
                    
                  <span class="input-group-text">
                      <div *ngIf="passwordForm.get(['newPassword']).invalid && (passwordForm.get(['newPassword']).dirty || passwordForm.get(['newPassword']).touched)"
                      class="mr-2 circle-danger">
                          </div>
                    <a (click)="changepasswordStat('newPassword')">
                      <span *ngIf="shownewPasswordPassword">
                        <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="icon-black"
                          [svgStyle]="{ 'width.px':16,'height.px':16 }">
                        </svg-icon>
                      </span>
                      <span *ngIf="!shownewPasswordPassword">
                        <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="icon-black"
                          [svgStyle]="{ 'width.px':16,'height.px':16 }">
                        </svg-icon>
                      </span>
                    </a>
                  </span>
                </div>
              </div>
              <div *ngIf="passwordForm.get(['newPassword']).invalid && (passwordForm.get(['newPassword']).dirty || passwordForm.get(['newPassword']).touched)"
                class="d-flex">
                <small *ngIf="passwordForm.get(['newPassword']).errors.required" class="text-danger">
                  {{'AUTHENTICATION.PASSWORD_PAGE.MSG_REQUIRE'| translate}}
                </small>
                <small *ngIf="passwordForm.get(['newPassword']).errors?.pattern" class="text-danger">
                  {{'AUTHENTICATION.PASSWORD_PAGE.MSG_PATTERN'| translate}} </small>
              </div>
            </div>
            <div class="form-group  mb-6">
              <div class="d-flex">
                <input [type]="typeconfirmationPassword" class="form-control" formControlName="confirmationPassword" id="confirmationPassword" placeholder="{{'AUTHENTICATION.PASSWORD_PAGE.CONFIRM_PASSWORD'| translate}}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <div  *ngIf="passwordForm.get(['confirmationPassword']).invalid && (passwordForm.get(['confirmationPassword']).dirty || passwordForm.get(['confirmationPassword']).touched)"
                    class="mr-2 circle-danger">
                    </div>
                    <a (click)="changepasswordStat('confirmationPassword')">
                      <span *ngIf="showconfirmationPasswordPassword">
                        <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="icon-black"
                          [svgStyle]="{ 'width.px':16,'height.px':16 }">
                        </svg-icon>
                      </span>
                      <span *ngIf="!showconfirmationPasswordPassword">
                        <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="icon-black"
                          [svgStyle]="{ 'width.px':16,'height.px':16 }">
                        </svg-icon>
                      </span>
                    </a>
                  </span>
                </div>
              </div>
              <div *ngIf="passwordForm.get(['confirmationPassword']).invalid && (passwordForm.get(['confirmationPassword']).dirty || passwordForm.get(['confirmationPassword']).touched)"
                class="d-flex">
                <small *ngIf="passwordForm.get(['confirmationPassword']).errors.required" class="text-danger">
                  {{'AUTHENTICATION.PASSWORD_PAGE.MSG_REQUIRE'| translate}}
                </small>
                <small *ngIf="passwordForm.get(['confirmationPassword']).errors && passwordForm.get(['confirmationPassword']).errors.confirmationPassword"
                class="text-danger">
                {{'AUTHENTICATION.PASSWORD_PAGE.MSG_CONFIRM'| translate}}
              </small>
              </div>
            </div>
          <button type="submit" id="save" class="btn btn-primary w-100" [disabled]="!passwordForm.valid">{{'BUTTON.VALIDATE'|
            translate}}</button>
            <div class="text-danger text-center w-100">{{errorMsg}}</div>
        </form>
      </div>
    </div>
  </div>
</app-authentication-shell>