@import "../../../../assets/scss/variables";
.input-group-text,
.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: $white;
  border-bottom-width: 1px;
}
.form-check-label {
  font-weight: 600;
  font-size: 0.9rem;
}
input::placeholder {
  color: $black;
}
small{
    font-weight: bold
}
.circle-danger{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: $functional-color-danger;
}