<div class="d-flex" [formGroup]="passwordForm">
  <button type="button" class="btn btn-link link p-0" (click)="openModal(template)">
    {{'PROFIL.SECURITY.PASSWORD_LINK'| translate}}
  </button>
  <ng-template #template let-c="close" let-d="dismiss">
    <div dir="{{defaultLanguage.rtl ? 'rtl' : '' }}" [class.text-right]="defaultLanguage.rtl">
      <div class="modal-header">
        <h4 class="modal-title w-100">
          {{'PROFIL.SECURITY.MODAL_PASSWORD_TITLE'| translate}}
        </h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">

          <div class="form-group ">
            <label for="currentPassword">{{"PROFIL.SECURITY.OLD_PASSWORD" | translate}}</label>
            <div class="d-flex">
              <input [type]="typeOld" class="form-control password" id="currentPassword"
                formControlName="currentPassword">
              <div class="input-group-append">
                <span class="input-group-text">
                  <a (click)="changepasswordStat('old')">
                    <span *ngIf="showOldPassword">
                      <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="obs-grey-icon"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                    <span *ngIf="!showOldPassword">
                      <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="obs-grey-icon"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                  </a>
                </span>
              </div>
            </div>
            <div
              *ngIf="passwordForm.get(['currentPassword']).invalid && (passwordForm.get(['currentPassword']).dirty || passwordForm.get(['currentPassword']).touched)"
              class="d-flex">
              <small *ngIf="passwordForm.get(['currentPassword']).errors.required" class="text-danger">
                {{'PROFIL.SECURITY.PASSWORD_REQUIRED'| translate}}
              </small>
            </div>
          </div>

          <div class="form-group ">
            <label for="newPassword">{{"PROFIL.SECURITY.NEW_PASSWORD" | translate}}</label>
            <div class="d-flex">
              <input [type]="typeNew" class="form-control password" formControlName="newPassword" id="newPassword">
              <div class="input-group-append">

                <span class="input-group-text">
                  <div
                    *ngIf="passwordForm.get(['newPassword']).invalid && (passwordForm.get(['newPassword']).dirty || passwordForm.get(['newPassword']).touched)"
                    class="mr-2 circle-danger">
                  </div>
                  <a (click)="changepasswordStat('new')">
                    <span *ngIf="showNewPassword">
                      <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="obs-grey-icon"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                    <span *ngIf="!showNewPassword">
                      <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="obs-grey-icon"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                  </a>
                </span>
              </div>
            </div>
            <div
              *ngIf="passwordForm.get(['newPassword']).invalid && (passwordForm.get(['newPassword']).dirty || passwordForm.get(['newPassword']).touched)"
              class="d-flex">
              <small *ngIf="passwordForm.get(['newPassword']).errors.required" class="text-danger">
                {{'PROFIL.SECURITY.PASSWORD_REQUIRED'| translate}}
              </small>
              <small *ngIf="passwordForm.get(['newPassword']).errors?.pattern" class="text-danger">
                {{'PROFIL.SECURITY.PASSWORD_PATTERN'| translate}} </small>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmationPassword">{{"PROFIL.SECURITY.CONFIRM_PASSWORD" | translate}}</label>
            <div class="d-flex">
              <input [type]="typeConfirm" class="form-control password" formControlName="confirmationPassword"
                id="confirmationPassword">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div
                    *ngIf="passwordForm.get(['confirmationPassword']).invalid && (passwordForm.get(['confirmationPassword']).dirty || passwordForm.get(['confirmationPassword']).touched)"
                    class="mr-2 circle-danger">
                  </div>
                  <a (click)="changepasswordStat('confirm')">
                    <span *ngIf="showConfirmPassword">
                      <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="obs-grey-icon"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                    <span *ngIf="!showConfirmPassword">
                      <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="obs-grey-icon"
                        [svgStyle]="{ 'width.px':16,'height.px':16 }">
                      </svg-icon>
                    </span>
                  </a>
                </span>
              </div>
            </div>
            <div
              *ngIf="passwordForm.get(['confirmationPassword']).invalid && (passwordForm.get(['confirmationPassword']).dirty || passwordForm.get(['confirmationPassword']).touched)"
              class="d-flex">
              <small *ngIf="passwordForm.get(['confirmationPassword']).errors.required" class="text-danger">
                {{'PROFIL.SECURITY.PASSWORD_REQUIRED'| translate}}
              </small>
              <small
                *ngIf="passwordForm.get(['confirmationPassword']).errors && passwordForm.get(['confirmationPassword']).errors.confirm"
                class="text-danger">
                {{'PROFIL.SECURITY.PASSWORD_CONFIRM'| translate}}
              </small>
            </div>
          </div>

          <div class='form-row '>
            <div class=" col-6  d-flex justify-content-start">
              <button class="btn btn-secondary w-75" type="button" id="annulation-btn"
                (click)="annulate()">{{'PROFIL.SECURITY.CANCEL'| translate}}</button>
            </div>
            <div class=" col-6 d-flex justify-content-end">

              <button type="submit" id="save" class="btn btn-primary w-75" [disabled]="!passwordForm.valid">
                {{'PROFIL.SECURITY.VALIDATE'| translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>