
@import "../../../assets/scss/variables";
:host {
  .mypanel {
    background-color: $white;
    color: #222;
    .title {
      background-color:$functional-color-grey-7;
      width: 100%;
      cursor: pointer;
      border: 2px solid  $functional-color-grey-7;
      color:$black;
      margin-bottom: 4px;
      padding: 12px 15px 12px 20px;
      font-size: .9rem;
      font-weight: bold;
      &.title-open{
        background-color:$supporting-color-blue;
        color:$white;
      }
    }
    .body {
      border: 2px solid  $functional-color-grey-7;
      margin-bottom: 4px;
      margin-top: -4px;
      border-top : none;
      padding: 22px 20px 22px 20px;
    }
  }
  
.hidden {
    display: none;
  }
  .svg-rotate-side{
    transform: rotate(270deg);
  }
  .svg-rotate-down{
    transform: rotate(90deg);
  }
}