$primary-color:             #FF7900 !default;
$primary-color-dark:        #F16E00 !default;
$functional-color-success:  #32C832!default;
$functional-color-danger:   #CD3C14!default;
$functional-color-info:     #527EDB!default;
$functional-color-warning:  #FFCC00!default;

$functional-color-grey-1:  #333333!default;
$functional-color-grey-2:  #666666!default;
$functional-color-grey-3:  #999999!default;
$functional-color-grey-4:  #CCCCCC!default;
$functional-color-grey-5:  #DDDDDD!default;
$functional-color-grey-6:  #EEEEEE!default;
$functional-color-grey-7:  #E3E3E3!default;
$functional-color-grey-8:  #F7F7F7!default;
$functional-color-grey-9:  #EBEBEB !default;

$obs-color-grey:           #595959!default;

$supporting-color-blue:    #4BB4E6!default;
$supporting-color-green:   #50BE87!default;
$supporting-color-pink:    #FFB4E6!default;
$supporting-color-purple:  #A885D8!default;
$supporting-color-yellow:  #FFD200!default;

$white:                #fff!default;
$black:                #000!default;

$opaque-white:          rgba(255,255,255,0.15);

$ff-main : 'HelveticaNeue', "Helvetica", sans-serif;