<div dir="{{defaultLanguage.rtl ? 'rtl' : '' }}" [class.text-right]="defaultLanguage.rtl" class="page-container">
<form [formGroup]="roleForm"  class="mb-5">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <div class="form-group">
        <label>{{'ROLE.ADDITION.NAME'| translate}} <span class="star"  >*</span></label>
        <app-input-traduction [group]="roleForm"  groupName="i18nTextName" controlName=name readOnly="true"></app-input-traduction>
      </div>
      <div class="form-group">
        <label >{{'ROLE.ADDITION.DESCRIPTION'| translate}}</label>
        <app-input-traduction [group]="roleForm"  groupName="i18nTextDescription" controlName=description readOnly="true"></app-input-traduction>
      </div>
      <div class="form-group">
        <label >{{'ROLE.ADDITION.CODE'| translate}} <span class="star">*</span> </label>
        <input type="text" class="form-control" formControlName="code" [readonly]="true">
      </div>
      <div class="form-group">
        <label>{{'ROLE.ADDITION.TYPE'| translate}}</label><br>
        <div *ngIf="domain && domain.length > 0 ">
            <app-accordion>
                <app-group *ngFor="let item of domain" title="{{item.name}}" > 
                  <div class="row">
                      <div class="checkbox checkbox-primary col-6"  *ngFor="let action of item.actions; let i = index" [formArrayName]="item.id">
                          <input class="custom-control-input" type="checkbox" [formControlName]="i" id="{{action.id}}" disabled="true">
                          <label class="custom-control-label checkbox-label" for="{{action.id}}"  >
                            {{action.name}}
                          </label>
                        </div>
                  </div>
                </app-group>
              </app-accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center mt-3">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <button type="submit" class="btn btn-primary w-75" (click)="updateRole()" >{{'BUTTON.UPDATE'| translate}}</button>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn btn-secondary w-75" [routerLink]="['/role']">{{'BUTTON.CANCEL'| translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
