<div dir="{{defaultLanguage.rtl ? 'rtl' : '' }}" [class.text-right]="defaultLanguage.rtl" class="page-container">
  <div class="content-page">
    <div class="card">

      <div class="card-header bg-transparent d-flex align-items-center ">
        {{'PROFIL.SECURITY.TITLE'| translate}}
      </div>
      <div class="card-body">
        <div class="row justify-content-md-start">

          <div class="col-3">
            <label>{{'PROFIL.SECURITY.PASSWORD'| translate}}</label>
          </div>
          <div class="col-6">
            <app-change-password></app-change-password>
          </div>
        </div>

        <div class="row justify-content-md-start">
          <div class="col-3">
            <label>{{'PROFIL.SECURITY.SECRET_QUESTION'| translate}}</label>
          </div>
          <div class="col-6">
            <app-secret-question></app-secret-question>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>