<app-authentication-shell title="{{'AUTHENTICATION.REINIT_PASSWORD_PAGE.TITLE'| translate}}" [isLoginPage]='true'>
    <div class="container" dir="{{defaultLanguage.rtl ? 'rtl' : '' }}" [class.text-right]="defaultLanguage.rtl">
      <div class="row justify-content-lg-center">
        <div class="col-lg-6">
          <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" autocomplete="off" *ngIf="loginStep">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <svg-icon src="../../../../../assets/svg/login.svg" [applyCss]="true" class="icon-black" [svgStyle]="{ 'width.px':18,'height.px':18 }">
                  </svg-icon>
                </span>
              </div>
              <input type="text" class="form-control" id="login" formControlName="login" placeholder="{{'AUTHENTICATION.LOGIN.LOGIN'| translate}}"
                autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-5" id="send">{{'BUTTON.VERIFY'| translate}}</button>
          </form>
          <form [formGroup]="questionForm" (ngSubmit)="verifyQuestion()" *ngIf="questionStep" >
              <div class="form-group">
                <input type="text" class="form-control" id="question" formControlName="question"   placeholder="{{'AUTHENTICATION.SECRET_QUESTION.QUESTION'| translate}}">
              </div>
              <div class="form-group mb-6">
                <input type="text" class="form-control" formControlName="answer" id="answer" placeholder="{{'AUTHENTICATION.SECRET_QUESTION.ANSWER'| translate}}">
              </div>
              <button type="submit" id="save" class="btn btn-primary w-100" [disabled]="!questionForm.valid">{{'BUTTON.SAVE'| translate}}</button>
            </form>
            <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" *ngIf="passwordStep">
                  <div class="form-group ">
                    <div class="d-flex">
                      <input [type]="typeNew" class="form-control" formControlName="new" id="new" placeholder="{{'AUTHENTICATION.PASSWORD_PAGE.NEW_PASSWORD'| translate}}">
                      <div class="input-group-append">
                          
                        <span class="input-group-text">
                            <div *ngIf="passwordForm.get(['new']).invalid && (passwordForm.get(['new']).dirty || passwordForm.get(['new']).touched)"
                            class="mr-2 circle-danger">
                                </div>
                          <a (click)="changepasswordStat('new')">
                            <span *ngIf="showNewPassword">
                              <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="icon-black"
                                [svgStyle]="{ 'width.px':16,'height.px':16 }">
                              </svg-icon>
                            </span>
                            <span *ngIf="!showNewPassword">
                              <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="icon-black"
                                [svgStyle]="{ 'width.px':16,'height.px':16 }">
                              </svg-icon>
                            </span>
                          </a>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="passwordForm.get(['new']).invalid && (passwordForm.get(['new']).dirty || passwordForm.get(['new']).touched)"
                      class="d-flex">
                      <small *ngIf="passwordForm.get(['new']).errors.required" class="text-danger">
                        {{'AUTHENTICATION.PASSWORD_PAGE.MSG_REQUIRE'| translate}}
                      </small>
                      <small *ngIf="passwordForm.get(['new']).errors?.pattern" class="text-danger">
                        {{'AUTHENTICATION.PASSWORD_PAGE.MSG_PATTERN'| translate}} </small>
                    </div>
                  </div>
                  <div class="form-group  mb-6">
                    <div class="d-flex">
                      <input [type]="typeConfirm" class="form-control" formControlName="confirm" id="confirm" placeholder="{{'AUTHENTICATION.PASSWORD_PAGE.CONFIRM_PASSWORD'| translate}}">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <div  *ngIf="passwordForm.get(['confirm']).invalid && (passwordForm.get(['confirm']).dirty || passwordForm.get(['confirm']).touched)"
                          class="mr-2 circle-danger">
                          </div>
                          <a (click)="changepasswordStat('confirm')">
                            <span *ngIf="showConfirmPassword">
                              <svg-icon src="../../../../../assets/svg/show.svg" [applyCss]="true" class="icon-black"
                                [svgStyle]="{ 'width.px':16,'height.px':16 }">
                              </svg-icon>
                            </span>
                            <span *ngIf="!showConfirmPassword">
                              <svg-icon src="../../../../../assets/svg/hide.svg" [applyCss]="true" class="icon-black"
                                [svgStyle]="{ 'width.px':16,'height.px':16 }">
                              </svg-icon>
                            </span>
                          </a>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="passwordForm.get(['confirm']).invalid && (passwordForm.get(['confirm']).dirty || passwordForm.get(['confirm']).touched)"
                      class="d-flex">
                      <small *ngIf="passwordForm.get(['confirm']).errors.required" class="text-danger">
                        {{'AUTHENTICATION.PASSWORD_PAGE.MSG_REQUIRE'| translate}}
                      </small>
                      <small *ngIf="passwordForm.get(['confirm']).errors && passwordForm.get(['confirm']).errors.confirm"
                      class="text-danger">
                      {{'AUTHENTICATION.PASSWORD_PAGE.MSG_CONFIRM'| translate}}
                    </small>
                    </div>
                  </div>
                <button type="submit" id="save" class="btn btn-primary w-100" [disabled]="!passwordForm.valid">{{'BUTTON.VALIDATE'|
                  translate}}</button>
              </form>
        </div>
      </div>
    </div>
  </app-authentication-shell>