.d-flex {
    display: flex; 
    justify-content: space-between; margin: 0;
    padding: 0; list-style: none;   
}


 .d-flex  h2 {
      display: inline-block;
     /* fallback */ padding: 0 .5em; /* fallback */ 
     } 
 .d-flex  button { 
  display: block;
  float:right
                }